*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #224870;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#blk-box{
    width: 30vw;
    height: 9.6vh;
    background-color: black;
    color: white;
}

#text-box{
    text-align:right;
    font-size: 9vh;
    padding-right: 5px;
}

#btn-box{
    display: grid;
    grid-template-columns: repeat(4, 7.5vw);
    grid-template-rows: repeat(5, 7.5vw);
}

.row-4{
    grid-row: span 4;
}

.btn{
    font-weight: 800;
    background-color: rgb(233, 233, 233);
}

.sbl{
    background-color: rgb(28, 141, 185);
}

.ac{
    background-color: brown;
    color: white;
}

.btn:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.81);;
}
